{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="card shadow p-4">

        <h3 class="mb-4">✍ Write Your Blog</h3>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Title -->
            <input type="text" name="title" class="form-control mb-3" placeholder="Enter Blog Title" required>

            <!-- Category -->
            <select name="category" class="form-control mb-3" required>
                <option value="">Select Category</option>
                {% for cat in categories %}
                    <option value="{{ cat.id }}">{{ cat.category_name }}</option>
                {% endfor %}
            </select>

            <!-- Image -->
            <input type="file" name="featured_image" class="form-control mb-3">

            <!-- Short Description -->
            <textarea name="short_description" class="form-control mb-3" placeholder="Short Description" rows="2"></textarea>

            <!-- Blog Body -->
            <textarea name="blog_body" class="form-control mb-3" placeholder="Write your blog..." rows="8"></textarea>

            <button type="submit" class="btn btn-warning w-100">
                💾 Save as Draft
            </button>

        </form>
    </div>
</div>

{% endblock %}