{% extends 'dashboard/admin_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="kdose-page-header">


<div>

    <h1>Add New User</h1>

    <p>Create a new user account</p>

</div>


</div>

{% if perms.auth.add_user %}

<div class="kdose-form-card">


<form method="POST"
      class="kdose-form">

    {% csrf_token %}

    <div class="kdose-form-grid">

        {{ form|crispy }}

    </div>

    <div class="kdose-form-actions">

        <button type="submit"
                class="kdose-btn">

            <i class="fa fa-user-plus"></i>
            Create User

        </button>

        <a href="{% url 'users' %}"
           class="kdose-btn kdose-btn-secondary">

            <i class="fa fa-arrow-left"></i>
            Back To Users

        </a>

    </div>

</form>


</div>

{% else %}

<div class="kdose-permission-card">


<i class="fa fa-lock"></i>

<h3>
    Access Denied
</h3>

<p>
    You do not have permission to view this page.
</p>

<a href="{% url 'dashboard' %}"
   class="kdose-btn">

    Go To Dashboard

</a>


</div>

{% endif %}

{% endblock %}
