
{% extends 'dashboard/admin_base.html' %}

{% block content %}

<div class="kdose-page-header">

    <div>

        <h1>Add New Post</h1>

        <p>Create and publish blog content</p>

    </div>

</div>

<form method="POST"
      enctype="multipart/form-data"
      class="kdose-form">

    {% csrf_token %}

    <div class="kdose-form-group">

        <label>Post Title</label>

        {{ form.title }}

    </div>

    <div class="kdose-form-group">

        <label>Category</label>

        {{ form.category }}

    </div>

    <div class="kdose-form-group">

        <label>Featured Image</label>

        {{ form.featured_image }}

    </div>

    <div class="kdose-form-group">

        <label>Short Description</label>

        {{ form.short_description }}

    </div>

    <div class="kdose-form-group">

        <label>Blog Content</label>

        {{ form.blog_body }}
    </div>

    <div class="kdose-form-group">

        <label>Status</label>

        {{ form.status }}

    </div>

    <div class="kdose-form-group">

        <label>Featured Post</label>

        {{ form.is_featured }}

    </div>

    <button type="submit"
            class="kdose-btn">

        Publish Post

    </button>

</form>

{% endblock %}

