{% extends 'dashboard/admin_base.html' %}

{% block content %}

<div class="posts-content-wrapper">

    <!-- PAGE HEADER -->

    <div class="posts-header">

        <div class="posts-header-left">

            <h2 class="posts-heading">
                All Categories
            </h2>

            <p class="posts-subtitle">
                Manage blog categories
            </p>

        </div>

        <a href="{% url 'add_category' %}"
           class="kdose-btn">

            <i class="fa fa-plus"></i>
            Add New Category

        </a>

    </div>

    <!-- SEARCH -->

  <div class="kd-category-tools">

    <form method="GET">

        <input
            type="text"
            name="search"
            placeholder="Search category..."
            value="{{ request.GET.search }}"
        >

        <button
            type="submit"
            class="kdose-btn">

            <i class="fa fa-search"></i>
            Search

        </button>

    </form>

</div>

    <!-- CATEGORIES TABLE -->

    <div class="kdose-table-wrapper">

        <table class="kdose-table">

            <thead>

                <tr>

                    <th>#</th>
                    <th>Category Name</th>
                    <th>Total Posts</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Actions</th>

                </tr>

            </thead>

            <tbody>

                {% for cat in categories %}

                <tr>

                    <td>
                        {{ forloop.counter }}
                    </td>

                    <td>
                        {{ cat.category_name }}
                    </td>

                    <td>
                        {{ cat.blog_set.count }}
                    </td>

                    <td>
                        {{ cat.created_at|date:"d M Y" }}
                    </td>

                    <td>
                        {{ cat.updated_at|date:"d M Y" }}
                    </td>

                    <td>

                        <a href="{% url 'edit_category' cat.id %}"
                           class="kdose-btn">

                            Edit

                        </a>

                        <a href="{% url 'delete_category' cat.id %}"
                           class="kdose-btn"
                           onclick="return confirm('Delete this category?')">

                            Delete

                        </a>

                    </td>

                </tr>

                {% empty %}

                <tr>

                    <td colspan="6">

                        No Categories Found

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}