{% extends 'dashboard/admin_base.html' %}

{% block content %}

<div class="kdose-users-row">


<div class="kdose-users-content">

    {% if perms.auth.view_user %}

    <h2 class="kdose-users-heading">
        All Users
    </h2>

    <a href="{% url 'add_user' %}"
       class="kdose-users-add-btn">

        Add User

    </a>

    <div class="kdose-users-table-wrapper">

        <table class="kdose-users-table">

            <thead>

                <tr>

                    <th>#</th>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>Staff</th>
                    <th>Superuser</th>
                    <th>Action</th>

                </tr>

            </thead>

            <tbody>

            {% for user in users %}

                <tr class="kdose-users-row-item">

                    <td>
                        {% if forloop.counter < 10 %}
                            0{{ forloop.counter }}
                        {% else %}
                            {{ forloop.counter }}
                        {% endif %}
                    </td>

                    <td>
                        {{ user.first_name }}
                        {{ user.last_name }}
                    </td>

                    <td>
                        {{ user.username }}
                    </td>

                    <td>
                        {{ user.email }}
                    </td>

                    <td class="kdose-users-status">

                        {% if user.is_active %}

                        <span class="kdose-status-badge kdose-status-active">
                            <i class="fa fa-check"></i>
                            Active
                        </span>

                        {% else %}

                        <span class="kdose-status-badge kdose-status-inactive">
                            <i class="fa fa-times"></i>
                            Inactive
                        </span>

                        {% endif %}

                    </td>

                    <td class="kdose-users-status">

                        {% if user.is_staff %}

                        <span class="kdose-status-badge kdose-status-active">
                            <i class="fa fa-check"></i>
                            Yes
                        </span>

                        {% else %}

                        <span class="kdose-status-badge kdose-status-inactive">
                            <i class="fa fa-times"></i>
                            No
                        </span>

                        {% endif %}

                    </td>

                    <td class="kdose-users-status">

                        {% if user.is_superuser %}

                        <span class="kdose-status-badge kdose-status-active">
                            <i class="fa fa-check"></i>
                            Yes
                        </span>

                        {% else %}

                        <span class="kdose-status-badge kdose-status-inactive">
                            <i class="fa fa-times"></i>
                            No
                        </span>

                        {% endif %}

                    </td>

                    <td class="kdose-users-actions">

                        <a href="{% url 'edit_user' user.id %}"
                           class="kdose-users-edit-btn">

                            <i class="fa fa-edit"></i>

                        </a>

                        <a href="{% url 'delete_user' user.id %}"
                           class="kdose-users-delete-btn"
                           onclick="return confirm('Delete this user?')">

                            <i class="fa fa-trash"></i>

                        </a>

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

    {% else %}

    <div class="kdose-users-no-permission">

        <i class="fa fa-lock"></i>

        <h5>
            You do not have permission to view this page
        </h5>

        <p>
            Please contact administrator for access.
        </p>

    </div>

    {% endif %}

</div>


</div>

{% endblock %}
